<div class="container-fluid">
<div class="row form-group ">
	<h2 class="text-center">Change Password</h2>
</div>
<div class="row form-group">
	<div class="col-sm-offset-4 col-sm-1">
	New Password:	</div>
	<div class="col-sm-3">
		<input type="text" class="form-control" ng-model="postData.nPwd"/>
	</div>
</div>


<div class="row form-group">
	<div class="col-sm-offset-5 col-sm-7">
		<input type="button" class="btn btn-primary" value="Update PWD" ng-click="fnUpdatePwd()"/>
	</div>
</div>
<div class="row form-group">
	<div class="col-sm-12 text-center">
		<b class="text-danger">{{msg}}</b>
	</div>
</div>
</div>