<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->

    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="onlinetestApp">
    <header-dir></header-dir>
    <menu-dir></menu-dir>
    <div ng-view class="content"></div>
    <footer-dir></footer-dir>
    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <!-- endbower -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/loginCtrl.js"></script>
        <script src="scripts/controllers/adminCtrl.js"></script>
        <script src="scripts/controllers/changePwdCtrl.js"></script>
        <script src="scripts/controllers/classCtrl.js"></script>
        <script src="scripts/controllers/createStudentCtrl.js"></script>
        <script src="scripts/controllers/resultCtrl.js"></script>
        <script src="scripts/controllers/studentCtrl.js"></script>
        <script src="scripts/controllers/subjectsCtrl.js"></script>
        <script src="scripts/controllers/testCtrl.js"></script>
         <script src="scripts/controllers/homeCtrl.js"></script>
         <script src="scripts/controllers/editCtrl.js"></script>

        <script src="scripts/directives/footerDir.js"></script>
        <script src="scripts/directives/headerDir.js"></script>
        <script src="scripts/directives/menuDir.js"></script>
        <script src="scripts/directives/tableDir.js"></script>
        <script src="scripts/directives/subMenuDir.js"></script>
        <script src="scripts/services/serverCallService.js"></script>
        <!-- endbuild -->
</body>
</html>
