<div class="container-fluid">
<div class="row form-group ">
	<h2 class="text-center">Login</h2>
</div>
<div class="row form-group">
	<div class="col-sm-offset-4 col-sm-1">
	UID:	</div>
	<div class="col-sm-3">
		<input type="text" class="form-control" ng-model="postData.userName"/>
	</div>
</div>
<div class="row form-group">
	<div class="col-sm-offset-4 col-sm-1">
	PWD:	</div>
	<div class="col-sm-3">
		<input type="text" class="form-control" ng-model='postData.password'/>
	</div>
</div>

<div class="row form-group">
	<div class="col-sm-offset-5 col-sm-7">
		<input type="button" class="btn btn-primary" value="Login" ng-click="fnLogin()"/>
	</div>
</div>
<div class="row form-group">
	<div class="col-sm-12 text-center">
		<b class="text-danger">{{msg}}</b>
	</div>
</div>
</div>